*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "TradeGothicLTBold";
    src: url(./shrift/TradeGothicLT/TradeGothicLT-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "TradeGothicLT";
    src: url(./shrift/TradeGothicLT/TradeGothicLT.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(./shrift/montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: italic;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}


body {
    color: #112211;
}